In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy
# Import the API key
from config import g_key

In [2]:
# Configure gmaps to use API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Desription,Lat,Lng,Hotel Name
0,0,Majene,ID,78.19,overcast clouds,-3.54,118.97,Kost Putri RABBANI
1,1,Albany,US,84.00,broken clouds,42.60,-73.97,NaN
2,7,Sapouy,BF,84.40,overcast clouds,11.55,-1.77,Auberge St Louis
3,13,Itarema,BR,85.48,scattered clouds,-2.92,-39.92,Windvillage
4,14,Ambulu,ID,76.01,overcast clouds,-8.35,113.61,Hotel Ambulu Jember

In [4]:
city1DF = city_data_df.loc[(city_data_df["City"]=="Abilene")]
AbileneDF = city1DF[["City", "Country", "Max Temp", "Current Desription", "Lat", "Lng", "Hotel Name"]].copy()

city2DF = city_data_df.loc[(city_data_df["City"]=="Aransas Pass")]
AransasPassDF = city2DF[["City", "Country", "Max Temp", "Current Desription", "Lat", "Lng", "Hotel Name"]].copy()

city3DF = city_data_df.loc[(city_data_df["City"]=="Camargo")]
CamargoDF = city3DF[["City", "Country", "Max Temp", "Current Desription", "Lat", "Lng", "Hotel Name"]].copy()

city4DF = city_data_df.loc[(city_data_df["City"]=="Ruidoso")]
RuidosoDF = city4DF[["City", "Country", "Max Temp", "Current Desription", "Lat", "Lng", "Hotel Name"]].copy()

In [5]:
AbileneTup = tuple(AbileneDF.to_numpy()[0][4:6])
AransasPassTup = tuple(AransasPassDF.to_numpy()[0][4:6])
CamargoTup = tuple(CamargoDF.to_numpy()[0][4:6])
RuidosoTup = tuple(RuidosoDF.to_numpy()[0][4:6])

In [6]:
itineraryDF = pd.concat([AbileneDF, AransasPassDF, CamargoDF, RuidosoDF])
itineraryDF

,City,Country,Max Temp,Current Desription,Lat,Lng,Hotel Name
87,Abilene,US,86.00,clear sky,32.45,-99.73,La Quinta Inn by Wyndham Abilene
161,Aransas Pass,US,87.80,broken clouds,27.91,-97.15,Microtel Inn & Suites by Wyndham Aransas Pass/...
46,Camargo,MX,83.05,few clouds,27.67,-105.17,Hotel Santa Fe
199,Ruidoso,US,80.60,clear sky,33.33,-105.67,Inn of the Mountain Gods

In [7]:
# Get the maximum temperature.
max_temp = itineraryDF["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Desription} and {Max Temp}Â°F</dd>
</dl>
"""

In [15]:
hotel_info = [info_box_template.format(**row) for index, row in itineraryDF.iterrows()]

In [18]:
# add heatmap of temp for vacation spots
locations = itineraryDF[["Lat", "Lng"]]
max_temp = itineraryDF["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

travelRoute = gmaps.directions_layer((AransasPassTup),(AbileneTup), waypoints=[(CamargoTup), (RuidosoTup)], travel_mode='DRIVING')

fig.add_layer(travelRoute)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# add heatmap of temp for vacation spots
locations = itineraryDF[["Lat", "Lng"]]
max_temp = itineraryDF["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))