In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy
# Import the API key
from config import g_key

In [23]:
# Configure gmaps to use API key.
gmaps.configure(api_key=g_key)

In [24]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Mandera,KE,78.08,scattered clouds,3.94,41.87,Kornesh Hotel and Lodging
1,24,Albany,US,82.99,clear sky,42.60,-73.97,NaN
2,28,Salalah,OM,80.60,drizzle,17.02,54.09,HAMDAN PLAZA HOTEL
3,30,Victoria,HK,88.00,few clouds,22.29,114.16,Mini Hotel Central
4,36,Rongcheng,CN,84.00,overcast clouds,30.63,117.85,Shell Shandong Liaocheng Development District ...

In [31]:
city1DF = city_data_df.loc[(city_data_df["City"]=="Hamilton")]
HamiltonDF = city1DF[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()

city2DF = city_data_df.loc[(city_data_df["City"]=="Columbus")]
ColumbusDF = city2DF[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()

city3DF = city_data_df.loc[(city_data_df["City"]=="Mayo")]
MayoDF = city3DF[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()

city4DF = city_data_df.loc[(city_data_df["City"]=="Petersburg")]
PetersburgDF = city4DF[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()

In [32]:
HamiltonTup = tuple(HamiltonDF.to_numpy()[0][4:6])
ColumbusTup = tuple(ColumbusDF.to_numpy()[0][4:6])
MayoTup = tuple(MayoDF.to_numpy()[0][4:6])
PetersburgTup = tuple(PetersburgDF.to_numpy()[0][4:6])

In [33]:
itineraryDF = pd.concat([HamiltonDF, ColumbusDF, MayoDF, PetersburgDF])
itineraryDF

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,Hamilton,US,77.0,clear sky,39.18,-84.53,Six Acres Bed & Breakfast
152,Columbus,US,77.0,broken clouds,39.96,-83.00,DoubleTree Suites by Hilton Hotel Columbus Dow...
104,Mayo,US,84.2,overcast clouds,38.89,-76.51,Resorts Resource Group International
148,Petersburg,US,84.2,clear sky,37.23,-77.40,Hilton Garden Inn Richmond South/Southpark

In [34]:
# Get the maximum temperature.
max_temp = itineraryDF["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

In [36]:
hotel_info = [info_box_template.format(**row) for index, row in itineraryDF.iterrows()]

In [37]:
# add heatmap of temp for vacation spots
locations = itineraryDF[["Lat", "Lng"]]
max_temp = itineraryDF["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

travelRoute = gmaps.directions_layer((HamiltonTup),(PetersburgTup), waypoints=[(ColumbusTup), (MayoTup)], travel_mode='DRIVING')

fig.add_layer(travelRoute)

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# add heatmap of temp for vacation spots
locations = itineraryDF[["Lat", "Lng"]]
max_temp = itineraryDF["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))